/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

&mt {
    tapping-term-ms =<500>;
};

/ {
        conditional_layers {
                compatible = "zmk,conditional-layers";
                combo_layer {
                        if-layers = <1 2>;
                        then-layer = <3>;
                };
        };

        keymap {
                compatible = "zmk,keymap";

                default_layer {
// -----------------------------------------------------------------------------------------
// |  ESC |  Q  |  W  |  E  |  R  |  T  |   |  Y  |   U  |  I   |  O  |  P  |      |
// |  TAB |  A  |  S  |  D  |  F  |  G  |   |  H  |   J  |  K   |  L  |  :  | BSPC |
// |      |  Z  |  X  |  C  |  V  |  B  |   |  N  |   M  |  .   |  ,  |  /  |   '  |
//                    |     | SPC |NLAYR|   |SYMLR|  ENT | ESC  |
// -----------------------------------------------------------------------------------------
                        bindings = <
   &kp ESC   &kp Q      &kp W       &kp E         &kp R         &kp T         &kp Y     &kp U         &kp I        &kp O         &kp P            &trans
   &kp TAB   &mt LALT A &mt LGUI S  &mt LSHFT D   &mt LCTRL F   &kp G         &kp H     &mt RCTRL J   &mt RGUI K   &mt RSHFT L   &mt RALT COLON   &kp BSPC
   &trans    &kp Z      &kp X       &kp C         &kp V         &kp B         &kp N     &kp M         &kp DOT      &kp COMMA     &kp FSLH         &kp SQT
                                    &trans        &kp SPACE     &mo 1         &mo 2     &kp RET       &trans
                        >;
                };

                number_layer {
// -----------------------------------------------------------------------------------------
// | F1  |  F2 |  F3 |  F4 |  F5 |  F6 |   |  F7 |  F8 |  F9 | F10 | F11 | F12 |
// | TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | DEL |
// |     |     |     |     |     |     |   |     |     |     |     |     |     |
//                   |     |CBLYR| SPC |   |     | ENT |     |
// -----------------------------------------------------------------------------------------
                        bindings = <
   &kp F1       &kp F2         &kp F3         &kp F4         &kp F5         &kp F6       &kp F7   &kp F8         &kp F9        &kp F10        &kp F11       &kp F12
   &kp TAB      &mt LALT N1    &mt LGUI N2    &mt LSHFT N3   &mt LCTRL N4   &kp N5       &kp N6   &mt RCTRL N7   &mt RGUI N8   &mt RSHFT N9   &mt RALT N0   &kp DEL
   &trans       &trans         &trans         &trans         &trans         &trans       &trans   &trans         &trans        &trans         &trans        &trans
                                              &trans         &kp SPACE      &trans       &mo 2    &kp RET        &trans
                        >;
                };

                symbol_layer {
// -----------------------------------------------------------------------------------------
// | ESC |  `  |     |     |     |     |   |     |     |     |     |     | DEL |
// | TAB |  \  |  =  |  -  |  [  |  ]  |   |     |     |     |     |     |     |
// |     |     |     |     |     |     |   |     |     |     |     |     |     |
//                   |     | SPC |CBLYR|   |     | ENT |     |
                        bindings = <
   &kp ESC     &kp GRAVE       &trans          &trans             &trans           &trans      &trans    &trans    &trans       &trans       &trans      &kp DEL
   &kp TAB     &mt LALT BSLH   &mt LGUI EQUAL  &mt LSHFT MINUS    &mt LCTRL LBKT   &trans      &trans    &trans    &trans       &trans       &trans      &trans
   &trans      &trans          &trans          &trans             &trans           &trans      &trans    &trans    &trans       &trans       &trans      &trans
                               &trans          &kp SPACE          &mo 1            &trans      &kp RET   &trans
                        >;
                };

                combo_layer {
// -----------------------------------------------------------------------------------------
// | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   |     |      |  UP |     |     |VOL_UP|
// |      |     |     |     |     |     |   |     |  LFT | DWN | RGT |     |C_MUTE|
// |      |     |     |     |     |     |   |     | CPRV |CPAUS|CNEXT|     |VOLDWN|
//                    |     | SPC |     |   |     |  ENT |     |
                        bindings = <
   &bt BT_CLR &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4    &trans   &trans       &kp UP            &trans       &trans   &kp C_VOL_UP
   &trans     &trans       &trans       &trans       &trans       &trans          &trans   &kp LEFT     &kp DOWN          &kp RIGHT    &trans   &kp C_MUTE
   &trans     &trans       &trans       &trans       &trans       &trans          &trans   &kp C_PREV   &kp K_PLAY_PAUSE  &kp C_NEXT   &trans   &kp C_VOL_DN
                                        &trans       &kp SPACE    &trans          &trans   &kp RET      &trans
                        >;
                };
        };
};
